.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .login-container h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }

  .form-group label {
    width: 25%;
  }

  .form-group input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-button {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 1rem;
  }

  .login-button:hover {
    background-color: #0056b3;
  }

  .additional-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .additional-buttons button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
  }

  .additional-buttons button:hover {
    background-color: #0056b3;
  }

  .additional-buttons button:last-child {
    margin-bottom: 0;
  }
